
body{
	padding-top:50px;
	height:2222px;
}



/***** Overwriting bootstrap *****/
/** NAVBAR **/
/* +navbar Brand */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
	background: #b33;
 }
 /* +dropdown */
 .dropdown-menu{
 	background: #262626;
 	color:#eee;
 }
 .dropdown-menu > li > a {
 	color:#9d9d9d;
 }
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
	background-color: #b33
}
 .dropdown-menu .divider {
 	background-color: #b33
}
/**CAROUSEL**/
.carousel-caption{
	bottom:80px;
	background-color:rgba(0,0,0,.30);
	padding:20px 30px;
}
.carousel-indicators .active{
	background: #b33
}
.carousel-indicators li{
	border-color:#333;
	background: #333
}
/***** About *****/
.about{
	padding:30px 0;
}
.about h1{
	font-weight:bold;
}
.about h1 strong{
	font-weight:300
}
/***** Features *****/
.features{
	padding:30px 0;
	background: #eee
}
.features h1{
	font-weight:bold;
}
.features .feat{
	padding:50px 0;
}
.features .feat h4{
	font-weight:bold;
}
.features .feat span.glyphicon{
	font-size:1.2em;
}
/***** testimonial *****/
.testimonial{
	padding:50px 0;
}
.testimonial .carousel-inner{
}
.testimonial .carousel-indicators{
	position:static;
	width:100%;
	margin:0;
	text-indent:0;
	margin-top:10px;
}
.testimonial .carousel-indicators li{
	width:80px;
	height:80px;
	border-radius:50%;
	text-indent:0;
	border:3px solid #eee;
	margin:0;
	overflow:hidden;
	background:none;
	opacity:.6;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;

}
.testimonial .carousel-indicators li.active{
	border:3px solid #b33;
	width:80px;
	height:80px;
	opacity:1;

}
.testimonial .carousel-indicators li img{
	max-width:100%;
}

.testimonial p{
	line-height:2em;
}
/***** Pricing table *****/
.pricing-table{
	background-color:#eee;
	padding:50px 0;
}
.pricing-table h1{
	margin-bottom: 50px
}
.price-box{
	background-color:#fff;
	padding: 20px 0;
	margin-bottom:15px;
}
.price-box h4{
	font-size:25px;
	font-weight:bold;
	margin:auto;
	width:100px;
	height:100px;
	line-height: 100px;
	background: #f3f3f3;
	border-radius:50%;
	border:3px solid #fff;
	transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
}
.price-box:hover h4{
	border-color:#ddd;
	transform:scale(1.1) rotate(360deg);
	-webkit-transform:scale(1.1) rotate(360deg);
	-moz-transform:scale(1.1) rotate(360deg);
	-o-transform:scale(1.1) rotate(360deg);
}
.price-box li{
	line-height:250%;
	font-weight: bold
}